* {
    margin: 0;
    box-sizing-border-box;
}

:root {
    --primary-color: #992e61;
    --primary-gradient: linear-gradient(173deg, rgba(208, 46, 97, 1) 21%, rgba(153, 46, 97, 1) 80%);
    --secondary: #856240;
    --light-color: #fff;
    --default-font: 'Exo', sans-serif;
    --default-font-color: #333333;
    --body-bg: #F8F8F8;
    --radius30: 30px;
    --shadow-2: 0rem 0.3125rem 0.3125rem 0rem rgb(82 63 105 / 5%);
    --shadow-1: 0.7px 0.5px 1.4px -10px rgba(0, 0, 0, 0.016),
        1.8px 1.3px 3.6px -10px rgba(0, 0, 0, 0.022),
        3.7px 2.7px 7.4px -10px rgba(0, 0, 0, 0.028),
        7.7px 5.5px 15.3px -10px rgba(0, 0, 0, 0.034),
        21px 15px 42px -10px rgba(0, 0, 0, 0.05);
}

body {
    font-family: var(--default-font);
    background-color: var(--body-bg);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-flow: column;
}

.container {
    max-width: 100%;
    margin: auto;
    padding: 0 15px;
}

.row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    /* margin: 0 -15px; */
}

.col-1 {
    flex: 1 0 8.33%;
    max-width: 8.33%;
}

.col-2 {
    flex: 1 0 16.66%;
    max-width: 16.66%;
}

.col-3 {
    flex: 1 0 25%;
    max-width: 25%;
}

.col-4 {
    flex: 1 0 33.33%;
    max-width: 33.33%;
}

.col-5 {
    flex: 1 0 41.66%;
    max-width: 41.66%;
}

.col-6 {
    flex: 1 0 50%;
    max-width: 50%;
}

.col-7 {
    flex: 1 0 58.33%;
    max-width: 58.33%;
}

.col-8 {
    flex: 1 0 66.66%;
    max-width: 66.66%;
}

.col-9 {
    flex: 1 0 75%;
    max-width: 75%;
}

.col-10 {
    flex: 1 0 83.33%;
    max-width: 83.33%;
}

.col-11 {
    flex: 1 0 91.66%;
    max-width: 91.66%;
}

.col-12 {
    flex: 1 0 100%;
    max-width: 100%;
}


form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"], button {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: var(--shadow-1);
    height: 3.5rem;
    background: var(--light-color);
}

.btn-login {
    padding: 10px 20px;
    font-size: 16px;
    background: var(--primary-gradient);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.no-pad {
    padding: 0;
}

.login-frm {
    margin-top: 10%;
}

.btn-login:hover {
    background: var(--secondary);
    color: var(--light-color);
    box-shadow: 2px 2px 5px var(--shadow-1);
}

.no-ovf {
    overflow: hidden;
}

.row.space-center {
    justify-content: space-around;
}

.card {
    display: flex;
    flex-flow: column;
    border-radius: var(--radius30);
    position: relative;
    overflow: hidden;
}

.card-1 {
    padding: 30px;
}

.card-1.full-height {
    height: 70vh;
    background: var(--primary-gradient);
}

img.site-logo {
    max-width: 100%;
    width: 60%;
}

.h-100 {
    height: 100%;
}

.heading-1 {
    font-weight: 700;
    font-size: 30px;
    width: 80%;
    color: var(--light-color);
}

.m-top-1 {
    margin-top: 3rem;
}

.icon-float i {
    font-size: 20rem;
    position: absolute;
    bottom: -5rem;
    right: -3rem;
    color: white;
    opacity: 0.1;
}

.heading-2 h5 {
    font-size: 28px;
    margin-bottom: 1rem;
}

.separator-1 {
    width: 100%;
}

.heading-2 .col-8 {
    display: flex;
    position: relative;
}

.separator-1::after {
    content: '';
    width: 100%;
    border-bottom: solid 4px;
    border-image: var(--primary-gradient);
    border-image-slice: 1;
    position: absolute;
    z-index: 1;
    right: -8rem;
    top: -37px;
}

.form-group {
    display: flex;
    flex-flow: column;
    margin-bottom: 12px;
}

.login-frm label {
    padding-bottom: 5px;
    color: var(--primary-color);
    font-weight: bold;
}

input[type="password"] {
    width: 100%;
}

.pwd-field {
    position: relative;
}

.pwd-field span {
    position: absolute;
    right: 0;
    top: 1.1rem;
    right: 4%;
    color: gray;
}

.sm-txt {
    text-decoration: none;
    color: var(--default-font-color);
}

.sm-txt:hover {
    color: var(--secondary);
    font-weight: 900;
}

.float-element-icon {
    position: fixed;
    bottom: -20%;
    right: 13%;
    font-size: 450;
    opacity: .1;
}

/* Mobile CSS */
@media only screen and (max-width: 600px) {

    /* Login Page*/
    .row.space-center {
        flex-flow: column;
    }

    .uni-basic.h-100 {
        height: auto;
        padding: 10px;
    }

    .card.card-1.full-height {
        height: auto;
    }

    .icon-float i {
        font-size: 14rem;
        bottom: -4rem;
        right: -3rem;
    }

    .side-login {
        padding-top: 2rem;
    }

    .float-element-icon {
        position: fixed;
        bottom: -2%;
        right: -1%;
        font-size: 200px;
        opacity: .1;
    }

    .float-element-icon {
        display: none;
    }

    .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
        flex: 1 0 100%;
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

}

/* Header */
.main-header-container {
    display: flex;
    flex-flow: column;
    overflow: hidden;
    background: var(--light-color);
}

.main-header-inner {
    padding: 10px;
}

.main-logo {
    max-width: 100%;
    width: 40%;
}

.logo-div {
    display: flex;
    align-items: center;
}

.user-img {
    max-width: 100%;
    height: 42px;
    width: 37px;
    float: right;
    border-radius: 0.3rem;
}

.names_role {
    flex-flow: column;
    display: flex;
    align-items: flex-end;
}

.username-item, .role-item {
    padding: 0 15px;
}

.bold-txt {
    font-weight: bold;
}

.col-4.light-dark {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

.switcher {
    float: right;
    padding: 5px;
}

.switch-inner {
    display: flex;
    width: 100%;
    height: 100%;
    background: var(--body-bg);
    justify-content: space-evenly;
    align-items: center;
    border-radius: .3rem;
    padding: 4px;
}

.switch-inner div:not(.active) {
    background: var(--default-font-color);
    color: var(--light-color);
}

.switch-inner div {
    padding: 8px;
    border-radius: .3rem;
}

.main-header-inner, .sub-header-inner {
    display: block;
}

.sub-header-inner {
    padding: 10px;
    background: var(--primary-gradient);
    height: 5rem;
    display: flex;
    align-items: center;
    width: 100%;
}

.breadcrumbs label {
    font-size: 20px;
    font-weight: bold;
    color: var(--light-color);
}

.breadcrumbs, .main-dashboard .row {
    padding: 15px;
}

.main-dashboard {
    display: flex;
    width: 100%;
}

.main-dashboard .row {
    padding: 15px;
}

/** Dashboard **/

.side-nav {
    padding-right: 15px;
}

.menu {
    width: 100%;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    background: #eee;
    width: 100%;
    box-shadow: var(--shadow-2);
}

.menu ul li {
    width: 100%;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.menu ul ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
}

.menu ul li:hover>ul {
    display: inherit;
}

.menu ul li a {
    color: var(--default-font-color);
    text-decoration: none;
    display: block;
    font-weight: 700;
    text-align: left;
    padding-left: 15px;
}

.menu ul ul a {
    font-weight: normal;
}

.menu ul ul li:hover {
    box-shadow: none;
    border: none;
    border-radius: none;
}

.menu ul ul ul {
    left: 100%;
    top: 0;
}

.menu ul li i {
    margin-right: 10px;
}

.menu ul li.active, .menu ul li:hover {
    background: var(--light-color);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-right: 6px solid;
    border-image: var(--primary-gradient);
    border-image-slice: 1;
    border-radius: .3rem;
    box-shadow: var(--shadow-2);
}

.dash-content {
    padding: 0 15px;
}

.side-nav-container {
    margin-top: calc(100% - 17rem);
    background: var(--light-color);
    border-radius: 10px;
    box-shadow: var(--shadow-2);
}

.qt-btn {
    background: #ddd;
    border-radius: .3rem;
    box-shadow: var(--shadow-2);
}

.col-2.tool-icon i {
    padding: 5px;
    background: var(--primary-color);
    color: var(--light-color);
    border-radius: 50%;
}

.container-header {
    width: 100%;
    display: flex;
}

/* Projects */
.container-header h4 {
    color: var(--primary-color);
}

#sortProjects {
    width: 50%;
    font-size: 16px;
    padding: 15px 12px 12px 15px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    height: 70%;
    float: right;
}

#projectsTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

#projectsTable th, #projectsTable td {
    text-align: left;
    padding: 12px;
}

#projectsTable tr {
    border-bottom: 1px solid #ddd;
}

#projectsTable tr.header, #projectsTable tr:hover {
    background-color: #f1f1f1;
}